/* importar outros css dentro do css principal é melhor do que importar no html pois assim o código fica mais limpo la no html e o carregamento da págiva fica sendo mais rápido. dESA FORMA TAMBÉM OS ARQUIVOS css podem "conversar", de forma que variáveis passadas aqui podem ser usadas nos outros arquivos também*/
@import url(./header.css);
@import url(./banner.css);
@import url(./carrossel.css);
@import url(./topicos.css);
@import url(./contato.css);
@import url(./footer.css);

:root {
    --cor-de-fundo: #EBECEE;
    --cor-botao-e-titulo: #191970;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-gradiente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte_secundaria: "Josefin Sans";
    --cinza: #474646;
    --cinza_claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

